@use './variables' as var;

@mixin flex($direction, $gap) {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
    @if($direction == "row") {
        justify-content: center;
    }
}
@mixin minMax($height) {
    min-height: $height;
    max-height: $height;
}
@mixin linkColor($color, $weight) {
    color: $color;
    cursor: pointer;
    &:visited {
        color: $color;
    }
    &:hover {
        font-weight: $weight;
        color: var.$color-green;
    }
}
@mixin boxGhost {
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px aliceblue;
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    text-align: center;
    border-radius: var.$border-radius;
    line-height: var.$line-height;
}
@mixin eight-ball {
    margin: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: radial-gradient(circle, var.$color-green 19%, var.$color-eight-dark 57%);
    box-shadow: 25px 67px 45px -7px var.$color-green inset;
    -webkit-box-shadow: 25px 67px 45px -7px var.$color-green inset;
    -moz-box-shadow: 25px 67px 45px -7px var.$color-green inset;
}


//Animations
@mixin shaking {
    &:hover {
        animation: shake 400ms infinite;
    }
    @keyframes shake {
        0% {
            transform: rotate(5deg);
        }
        15% {
            transform: rotate(0);
        }
        30% {
            transform: rotate(-5deg);
        }
        45% {
            transform: rotate(0);
            transform: scale(1.2);
        }
        60% {
            transform: rotate(5deg);
        }
        75% {
            transform: rotate(0);
        }
        90% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0);
            transform: scale(1.1);
        }
    }
}
@mixin opacify {
    animation: opacity 4s ease-in-out;  
    @keyframes opacity {
        0% {
          opacity: 0.1;
        }
        20% {
          opacity: 0.2;
        }
        40% {
          opacity: 0.3;
        }
        60% {
          opacity: 0.4;
        }
        80% {
          opacity: 0.5;
        }
        90% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }       
}
@mixin pulsate($color) {
    animation: pulsate 0.11s ease-in-out infinite alternate;
    @keyframes pulsate {
        100% {
            text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px $color,
            0 0 80px $color,
            0 0 90px $color,
            0 0 100px $color,
            0 0 150px $color;
        }
        0% {
          text-shadow:
          0 0 4px #fff,
          0 0 10px #fff,
          0 0 18px #fff,
          0 0 38px $color,
          0 0 73px $color,
          0 0 80px $color,
          0 0 94px $color,
          0 0 140px $color;
      }
    }
}
@mixin shakeTheBall {
    animation: shake 2s ease-in-out;  
    @keyframes shake {
            0% {
              transform: translate(0%, 0%);
            }
            10% {
              transform: translate(-5%, 5%);
            }
            20% {
              transform: translate(20%, -20%);
            }
            30% {
              transform: translate(-10%, 10%);
            }
            40% {
              transform: translate(10%, 5%);
            }
            50% {
              transform: translate(-10%, 10%);
            }
            60% {
              transform: translate(20%, -20%);
            }
            70% {
              transform: translateX(-10%, 10%);
            }
            80% {
              transform: translate(20%, -20%);
            }
            80% {
              transform: translate(10%, -10%);
            }
            100% {
              transform: translateX(0%);
            }
        }
}