@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

$color-light : aliceblue;
$color-green: #00B489;
$color-dark: rgba(32,38,57,1);
$font-size-default: 1.6rem;
$font-size-subtitle: 2rem;
$font-size-title: 5rem;
$font-default: 'Poppins', sans-serif;
$font-handwritten: 'Island Moments', cursive;
$width-container: 1200px;
$line-height: 3rem;
$border-radius: 5px;
// Eight ball colors
$color-eight-light: #610094;
$color-eight-medium: #3F0071;
$color-eight-dark: #000000;
$color-eight-text : #5ee7df;
$font-eight-text : 'Source Code Pro', monospace;
// $color-secondary: rgba(125,31,165,1);
// $color-tertiary: rgba(109,25,252,1);
// background-image: linear-gradient( 180deg, $color-secondary 20%, $color-tertiary  56.1% );